html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #f5f0e6;
  overflow: hidden;
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

a,
a:visited,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: black;
  transition: 0.25s linear;
}

a:hover {
  color: rgba(0, 0, 0, 0.664);
  transition: 0.25s linear;
}

/* Header block */

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo__img {
  max-height: 72px;
}

.header_nav__list {
  display: flex;
}

.header_nav__list-item {
  margin-right: 5px;
}

.header_nav__list-item:last-child {
  margin-right: 0px;
}
